@font-face {
    font-family: 'Caveat';
    src: url('./Caveat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Caveat';
    src: url('./Caveat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Caveat';
    src: url('./Caveat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Caveat';
    src: url('./Caveat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }